<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buy4all4">
    <!-- Permissions for Internet and Storage -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Buy4All"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Buy4all4">
        <activity
            android:name=".MyAnouncmentsHomePage"
            android:exported="false" />
        <activity
            android:name=".ModerHomePage"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePageModer"
            android:exported="false" /> <!-- Firebase Initialization -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel" />
        <meta-data
            android:name="com.google.firebase.database"
            android:value="true" /> <!-- Authentication Activities -->
        <activity
            android:name=".SignInActivity"
            android:exported="true" />

        <activity
            android:name=".SignUpActivity"
            android:exported="true" /> <!-- Home & User Activities -->
        <activity android:name=".HomePage" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".MyAnouncments" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SettingsActivityGuest" />
        <activity android:name=".HomePageGuest" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".Update" />
        <activity android:name=".PostDetailActivity" />
        <activity android:name=".DeleteAccount" />
        <activity android:name=".ChangeMailActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".ChangeUsernameActivity" /> <!-- Cloudinary & Firebase Dependencies -->
        <meta-data
            android:name="com.cloudinary.CLOUD_NAME"
            android:value="dya4h3ime" /> <!-- Replace with your Cloudinary Cloud Name -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-XXXXXXXXXXXXXXXX~XXXXXXXXXX" />
    </application>

</manifest>